# Archivos de Unity a ignorar
Library/
Temp/
Logs/
Obj/
Build/
Builds/
UserSettings/
*.csproj
*.sln
*.userprefs
*.DS_Store

# Archivos de Vuforia innecesarios
Vuforia/config/
Packages/com.ptc.vuforia.engine-*.tgz

# Carpetas de Git que no deben subirse
.vscode/
.idea/
*.bak
Thumbs.db
Assets/Editor/Migration/com.ptc.vuforia.engine-10.29.6.tgz
Assets/Editor/Migration/com.ptc.vuforia.engine-10.29.6.tgz.meta
